.banner-home {
  text-align: left;
  padding: 40px;
  margin: 0 auto;
  color: white;
  font-size: 42px;
  height: 70vh;
}

.banner-show {
  background-size: cover;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  color: white;
  font-size: 32px;
  background-color: white;
  min-height: 70vh;
}
